#flip {
    display:none;
    position:absolute;
    top:12%;
    bottom:6%;
    right:0;
    width:80%;
    z-index:101;
    background-color:rgba(255,255,255,0.85);
    border:4px solid rgba(25,0,0,0.2);
    border-right:none;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:1em 0.5em 2em 3em;
}

#flip .header {
    border-bottom:2px solid rgba(25,0,0,0.2);
}

#flip h2 {
    font-family:'Coustard', serif;
    margin:0;
}

#flip .content {
    height:94%;
    overflow:auto;
    padding:1% 1% 0 0;
}

#flip .close {
    width:20px;
    height:20px;
    background:url("../../imagens/estrutura/close_button.png");
    position:absolute;
    left:6px;
    top:6px;
}

#flip .categoria {
    font-size:8pt;
    color:#900;
    text-transform: uppercase;
    font-weight:bold;
}

#flip .endereco {
    font-style:italic;
    font-size:10pt;
}

#flip .dados {
    float:left;
    width: 250px;
    font-size:10pt;
    border-right:1px solid #EEE;
    padding-left:10px;
    overflow:hidden;
}

#flip .dados .label{
    display:block;
    font-weight:bold;
}

#flip .descricao,
#flip .videos {
    margin:0 290px 0 290px;
    padding-right: 30px;
    font-size:11pt;
    border-right:1px solid #EEE;
}

#flip .videos {
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #EEE;
}

#flip .videos ul {
    margin:1em 0;
    list-style-type: circle;
    list-style-position: inside;
}

#flip .videos ul li {
    margin-bottom:6px;
}

#flip .descricao p {
    line-height:1.6em;
}

#flip .fotos {
    float:right;
    width:250px;
    padding-right:10px;
    font-size:11pt;
}

#flip .fotos ul {
    margin:1.6em 0;
}

#flip .fotos a {
    background:#FFF;
    float: left;
    padding: 6px 6px 2px 6px;
    margin: 0 0 20px;
    border: 2px solid rgba(25,0,0,0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#flip .fotos a:hover {
  border-color: rgba(100,0,0,0.3);
}

#flip .fotos a img {
    display: block;
    border:1px solid #CCC;
    margin-bottom:4px
}

#flip .fotos a {
    text-decoration:none;
    font-size:9pt;
    color:#666;
}
