body, html {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}

a {
    color:#800;
}

a:hover {
    color:#C00;
}

#logo {
    position:absolute;
    top:1%;
    left:8%;
    z-index:100;
    max-width:50%;
}

#map_canvas {
    width:100%;
    height:100%;
}

.logos-control {
    width:88px;
    height:22px;
    background: url(../../imagens/mapa/logos-control.png);
    margin:2px 5px 5px 6px;
    cursor: pointer;
}

#projeto-info {
    display:none;
}

.marker {
    width:12px;
    height:20px;
    display:inline-block;
    background-image:url(../../imagens/mapa/marcadores/comuns.png);
}

.categoria .marker {
    margin-bottom:-5px;
    margin-right:2px;
}

.custom-control {
    margin:4px 6px;
}

.custom-control .btn {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    -moz-box-shadow:    rgba(0, 0, 0, 0.2) 0 1px 2px;
    box-shadow:         rgba(0, 0, 0, 0.2) 0 1px 2px;
    z-index:1000;
    position:relative;
}

.btn-categorias-container {
    text-align:right;
}

.lista-categorias {
    position:relative;
    z-index:1001;
    border: 4px solid rgba(25, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-width:13em;
    list-style:none;
    overflow:hidden;
}

.lista-categorias .check {
    opacity:0.6;
    position:absolute;
    left:6px;
}

.lista-categorias .marker {
    margin-bottom:-5px;
    position:absolute;
    left:26px;
}

.lista-categorias a {
    display:block;
    background-color:#FFF;
    background-color:rgba(255,255,255,0.9);
    padding:4px 6px 4px 46px;
    font-size:90%;
    border-bottom:1px solid rgba(25, 0, 0, 0.1);
    color:#000;
    position:relative;
}

.lista-categorias a:hover {
    text-decoration:none;
    background-color:#FFF;
}

.lista-categorias a:active {
    background-color:#FEE;
}


.lista-categorias a:hover .check {
    opacity:1;
}

.lista-categorias .locals {
    margin-left:4px;
    color:#999;
    font-style:italic;
    font-size:90%;
}
