<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Bixiguia</title>
    <link href="{{ STATIC_URL }}css/reset.css" rel='stylesheet' type='text/css' />
    <link href="{{ STATIC_URL }}css/colorbox.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="{% url globals_js %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.colorbox-min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
