<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Bixiguia</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap-2.1.1/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="{{ STATIC_URL }}css/bootstrap-2.1.1/css/bootstrap-responsive.min.css" rel='stylesheet' type='text/css' />
    <link href="{{ STATIC_URL }}css/colorbox.css" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    {% block extra_css %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
    <script type="text/javascript" src="{% url globals_js %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.colorbox-min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
